
.titel{
    padding-top: 150px;
    text-align: justify;
    text-justify: inter-word;
    
}
.titel h1{
    font-size: 7vh;
    font-weight: 800;
    
}

.learn-more{
    background-color: rgb(240, 157, 90);
    color: rgb(12, 12, 12);
    padding: 5px 25px;
    border: 1px dotted rgb(147, 223, 97);
    border-radius: 6px;
}

.card-body{
    height: 400px;
    background-color: #CFE6E2;
    border-radius: 5px;

}
.card-body:hover{
    box-shadow: 10px 20px 50px rgb(90, 78, 78);
}



.learn-more:hover{
    padding: 8px 30px;
}

.aboutUs{
    border: 1px solid #CFE6E2;
    background-color: #CFE6E2;
    text-align: justify;
  text-justify: inter-word;
}
